.index-category {
    padding: 1rem;
}
.index-category p a {
    font-size: 2rem;
    color: #333333;
    text-decoration: none;
}

.index-category ul li {
    list-style-type: none;
}

.index-category ul li a {
    font-size: 1.25rem;
    color: #267438;
    text-decoration: none;
}