.current {
    color: rgb(241, 120, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #4E9359;
    color: #ecf0f1;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
}

.navbar-toggle {
    display: none;
}

.navbar-link:hover {
    background-color: #546076
}

.navbar-link:hover a {
    color: #ffffff
}

@media (max-width: 600px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-link {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
    }
}